<template>
<span>

  <v-card>
    <v-card-media height="200" contain :src="product ? product.image : `https://unsplash.it/150/300?image=${Math.floor(Math.random() * 100) + 1}`"></v-card-media>
    <v-card-title>
      <span class="body-2">{{product ? product.title : 'No Product Title'}}</span>
    </v-card-title>

    <v-divider></v-divider>

    <v-card-text>
      <v-chip color="info" label text-color="white" slot="activator">
        <v-icon left>code</v-icon> {{ product ? product.sku : 'None'}}
      </v-chip>
      <v-chip color="secondary" label text-color="white" slot="activator">
        <v-icon left>label</v-icon> {{ product ? product.brand : 'None' }}
      </v-chip>
      <v-chip color="primary" label text-color="white" slot="activator">
        <v-icon left>shopping_basket</v-icon> {{ product ? product.category : 'None' }}
      </v-chip>
      <v-chip color="error" label text-color="white" slot="activator">
        <v-icon left>monetization_on</v-icon> {{ product.price }}
      </v-chip>

    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn flat color="accent" style="width: 100%;" @click.prevent="requestToJumia(product)">
        <v-icon>shopping_cart</v-icon> &nbsp; Buy Now
      </v-btn>
    </v-card-actions>
  </v-card>

</span>
</template>

<script>
import { isEmpty } from 'lodash';
import axios from 'axios';

export default {
  name: 'Product',
  props: {
    product: {
      type: Object,
      required: true
    },
    current_cart_link: null,
  },
  data: () => ({
    HOST: process.env.NODE_ENV === 'production' ? 'https://jumiabot-backend.herokuapp.com/' : 'http://127.0.0.1:5000/',
  }),
  methods: {
    addToCart(product) {
      let cart = window.localStorage.getItem('shopping_cart');
  
      if (isEmpty(cart)) {
        window.localStorage.setItem('shopping_cart', JSON.stringify([product.id]))
        cart = [product.id]
      } else {
        cart = JSON.parse(cart);
        cart.push(product.id);
        window.localStorage.setItem('shopping_cart', JSON.stringify(cart))
      }

      this.$emit('addToCart', cart.length)
    },
    async requestToJumia(product) {
      try {
        await axios.post(`${this.HOST}add-to-cart/`, { link: product.add_to_cart });
        this.addToCart(product);
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>
