<template>
  <v-app>
    <!-- <v-navigation-drawer persistent clipped v-model="drawer" @input="" enable-resize-watcher fixed app>
    
      <v-list three-line>

        <v-list-tile value="true" v-for="(item, i) in items" :key="i" color="accent" ripple href="javascript:;">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
            <v-list-tile-sub-title>
              {{item.title}}
            </v-list-tile-sub-title>
          </v-list-tile-content>
    
        </v-list-tile>

      </v-list>
    
    </v-navigation-drawer> -->

    <v-toolbar app dark clipped-left color="primary">
      <v-toolbar-title class="title ml-3 mr-5 hidden-sm-and-down" v-text="title"></v-toolbar-title>

      <v-text-field solo-inverted flat color="secondary" hide-details label="How may I help ?" v-model="searchInput" @keypress.enter.prevent="filterProducts($event)" prepend-inner-icon="question_answer">
      </v-text-field>

      
        <v-btn flat @click="openCart()" target="__blank" small>
          <v-badge right color="info">
            <span slot="badge">{{noOfItemsInCart}}</span>
              <v-icon>shopping_cart</v-icon>
          </v-badge>
        </v-btn>

    
    </v-toolbar>
  
    <v-content>
      
      <v-container fluid>
        
        <v-layout row wrap fill-height justify-space-around align-content-start>
          <v-flex lg2 md3 sm4 xs12 justify-center v-for="product in products" :key="product.id" class="ma-1 mt-0 mb-2">
            <product :product="product" @addToCart="noOfItemsInCart = $event"></product>
          </v-flex>
        </v-layout>

      </v-container>

    </v-content>

        <v-dialog v-model="dialog" hide-overlay persistent width="300">
          <v-card color="info" dark>
            <v-card-text>
              Please wait as products load
              <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>


        <v-snackbar
    v-model="snackbar.state"
    bottom
    left
    :timeout="2000"
    >
    {{ snackbar.message }}
    <v-btn
        color="secondary"
        flat
        @click="snackbar = false"
    >
        Close
    </v-btn>
</v-snackbar>

  </v-app>
</template>

<script>
/* eslint-disable */

import {isArray} from 'lodash';
import axios from 'axios';
import Product from './components/Product.vue'
import {ApiAiClient} from "api-ai-javascript/ApiAiClient"


export default {
  name: 'App',
  components: {
    Product
  },
  data () {
    return {
      noOfItemsInCart: 0,
      snackbar: {
        state: false,
        message: ''
      },
      searchInput: null,
      dialog: false,
      title: 'Jumia Bot',
      products: [],
      HOST: process.env.NODE_ENV === 'production' ? 'https://jumiabot-backend.herokuapp.com/' : 'http://127.0.0.1:5000/',
      ClIENT_API_KEY: '33058ac6e526446daad5d5eaa00749f1'
    }
  },
  methods: {
    show_snackbar(msg) {
        this.snackbar = {
            state: true,
            message: msg
        };
    },
    async getProducts() {
      const that = this;
      this.dialog = true;
      try{
        const product_list = await axios.get(`${this.HOST}products/`).then(data => {
          that.dialog = false;
          return data;
        })
        this.products = product_list.data.products;
      } catch(e) {
        return null;
      }
    },
    async filterProducts() {
      if (!this.searchInput) return null;

      const that = this;
      
      const client = new ApiAiClient({accessToken: this.ClIENT_API_KEY});
      const res = await client.textRequest(this.searchInput);

      const { messages, speech, } = res.result.fulfillment;
      let {brand, product_category} = res.result.parameters;
  
      if (brand && product_category) {
        this.dialog = true;
        if (isArray(brand)) { brand = brand[0] };
        if (isArray(product_category)) { product_category = product_category[0] };
          const product_list = await axios.post(`${this.HOST}bot/search-product/`, {brand, product_category}).then(data => {
            that.dialog = false;
            return data;
          })
          this.products = product_list.data.products;
          return;
      }
      else if (brand) {
        this.dialog = true;
        if (isArray(brand)) { brand = brand[0] };
          const product_list = await axios.post(`${this.HOST}bot/search-product/`, {brand}).then(data => {
            that.dialog = false;
            return data;
          })
          this.products = product_list.data.products;
          return;
      }
      else if (product_category) {
          this.dialog = true;
          if (isArray(product_category)) { product_category = product_category[0] };
          const product_list = await axios.post(`${this.HOST}bot/search-product/`, {product_category}).then(respond);
          this.products = product_list.data.products;
          return;
      }

      function respond(res) {
          that.dialog = false;
          if (res.data.products.length < 1) this.show_snackbar('Sorry we found not products matching your request');
          return res;
      }

      this.show_snackbar(speech ? speech : 'No response' )

      this.searchInput = null

    },
    openCart() {
      window.localStorage.clear();
      window.location.href = 'https://www.jumia.co.ke/cart/';
    }
  },
  created() {
    // this.getProducts();
  }
}
</script>
